* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    background: #f31616;
    font-family: "Poppins";

}

.title-1, .title-4 {
    text-align: left;
    color: #fff;
    margin: 20px;

}

.title-1 {
    margin-bottom: 50px;
    }

.container {
    width: 50%;
}

h6, p {
    color: #fff;
}
